body {
    color: maroon;
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-shadow: royalblue;
}
#p1
{ 
    color: blue;
}

h1 {
    color: fuchsia;
}